/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 May, 2020, 4:08:32 AM
    Author     : asifu
*/




#title{background-color:black;text-align: center;}
.maintheme{width: 100%;}
.logo{
  width: 8rem;
  height: 4rem;
  margin-left: 0%;
}
.slash{font-size:1.2rem;}
.login{position: relative;}
.btn-outline-light{margin-left:1rem;margin-bottom: 1rem;margin-right: 1rem;}




/* .nav-link{
	margin-top:-0.25rem;
	margin-right:.25rem ;
	margin-left:.25rem;
	margin-bottom:0rem;
	font-weight:bold;
	font-size: 1.3rem;
	
}

.nav-link:hover{background-color:graytext;border-radius:5px;} */


.terms{font-family: 'Fira Sans', sans-serif;text-decoration: none;color: white;font-size: .9rem;}
.terms:hover{text-decoration: none;color: #D3D3D3;opacity: .5}
.dash{color: #D3D3D3}


.g{font-family: 'Comic Neue', cursive;
font-family: 'Lexend Giga', sans-serif;color: white;font-size: .8rem;}
.h{font-family: 'Fira Sans', sans-serif;
font-weight: bolder;
  color: goldenrod;}


#contact{
	background-color: black;
	padding: 2% 5%;
	margin-left:-15px;
	margin-right:-15px;
	}
.l:hover{opacity: 0.3;}
.i:hover{opacity: .3;}
.j:hover{opacity: .3;}
.k:hover{opacity: .3;}
.m:hover{opacity: .3;}




.footerlogo{  height: 80px;margin-top: 1%}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color:#F0F0F0;
   font-family: 'Cantarell', sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.941;
  
  margin: 0;
  padding: 0;
}

.container-fluid{
	align-items:center;
	background-color:#F0F0F0;
	margin:0rem;
 font-family: 'Cantarell', sans-serif;
padding-top:1rem; 
}

.div1{
	
	 
	background-color: white;
	 color:black;
border-radius: 25px;
  box-shadow: 2px 4px 6px #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom:1rem;
  margin-left:4rem;
  margin-right:4rem;
  text-shadow: 0.2px 0.2px #000000;

}
}

.div1 h2{
     font-size:27px;
	 font-family: 'Cantarell', sans-serif;
	 
  }

.div1 ol{
	padding-left:20px;
}

.div1 ul{
	padding-left:20px;
}



@media only screen and (max-width: 550px){
.div1 {
	margin-top: 1.5rem;
  margin-bottom:1rem;
  margin-left:-0.2rem;
  margin-right:-0.2rem;
 padding-left:0.4rem;
 padding-right:0.4rem;
 
    transition: transform .3s ease;
    font-size:16px;
	
	
}
}

@media only screen and (max-width: 800px){
.div1 {
	margin-top: 1.5rem;
  margin-bottom:1rem;
  margin-left:0.2rem;
  margin-right:0.2rem;
 padding-left:0.5rem;
 padding-right:0.5rem;
 
    transition: transform .3s ease;
    font-size:16px;
	
	
}
}

@media only screen and (max-width: 550px){
.div1 h2{
	
    font-size:25px;
	font-weight:bold;
	

}
}



.image-hover {
	
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.image-hover:hover, .image-hover:focus, .image-hover:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-outline-light-download{
	
    margin-left: 0rem; 
    margin-bottom: 0rem;
    margin-right: 0rem; 
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-download {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-download:hover{
    background-color: white;
    color: black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 380px){
	
    .btn-download {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid #f8f9fa;
        padding: .375rem .75rem;
        font-size: 0.7rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
}

@media only screen and (max-width: 325px){
	
    .btn-download {
		
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid #f8f9fa;
        padding: .375rem .75rem;
        font-size: 0.4rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
}

@media screen and (max-width: 550px){

         .navbar-nav .nav-link {
                        padding-right: 40px;
                        padding-left: 40px;
                        margin-bottom: 10px;
                        margin-top: 8px;
          }
}